.cocktail-element-container {
  height: calc(var(--fontSizes-normal) * 1.50);
  background-color: var(--colors-element-default);
  color: var(--colors-element-text);
  border-radius: var(--ui-radius);
  border: 2px solid black;
  box-sizing: border-box;

  .img { height: var(--fontSizes-normal); }

  .ml { margin-left: var(--ui-margin); }
}