:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLORS */
  --colors-bg: #65797d;
  --colors-element-text: #e8f7fa;
  --colors-success: #89ff89;
  --colors-element-bg: #242424;
  --colors-element-border-default: #FFF;

  /* FONT SIZES */
  --fontSizes-normal: 7vw;
  --fontSizes-title-1: 18vw;
  --fontSizes-title: 8vw;

  /* UI */
  --ui-padding: 10px;
  --ui-margin: 10px;
  --ui-radius: 20px;

  background-color: var(--colors-bg);
  font-size: var(--fontSizes-normal);
  color: var(--colors-element-text);
}

body { margin: 0; }

.icon {
  color: var(--colors-element-text);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--ui-margin);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.padded {
  padding: var(--ui-padding);
  box-sizing: border-box;
}